@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.navegador {
  text-align: center;
}
.navegador.coffeNav {
  background-color: rgba(141, 141, 141, 0.05);
  font-size: 20px;
}
.navegador.coffeNav.coffeNav a {
  color: #274c77;
}

.logo {
  width: 15%;
}

.menu {
  background-color: rgba(141, 141, 141, 0.05);
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  padding: 18px;
  margin-bottom: 30px;
}

.banner {
  width: 100%;
  margin-bottom: 15px;
}

footer {
  background-color: #5d87b8;
}

/* seccion de introduccion */
.intro {
  display: flex;
  max-width: 95%;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.intro-img {
  width: 50%;
  border-radius: 2%;
}

/* pedidos index */
.pedido {
  text-align: center;
  font-size: 30px;
  font-style: bold;
  margin-bottom: 30px;
}

/* Producto destacado */
.producto_destacado {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 95%;
}

.index-producto {
  text-align: center;
  margin-bottom: 30px;
}

.tittle-producto {
  font-size: 30px;
  margin-bottom: 25px;
}

/* selector descendente */
.producto_destacado img {
  border-radius: 2%;
}

.ubicacion {
  text-align: center;
  margin-bottom: 35px;
}
.ubicacion.h2 {
  font-size: 30px;
}

.productos {
  text-align: center;
  margin-top: 40px;
  max-width: 95%;
}
.productos.h1 {
  font-size: 30px;
}

.bebidas {
  margin-top: 30px;
  display: flex;
  gap: 25px;
  max-width: 95%;
  margin-left: 4em;
  margin-bottom: 30px;
}

.acompañantes {
  margin-top: 30px;
  display: flex;
  gap: 25px;
  max-width: 95%;
  margin-left: 4em;
}

/* pagina de nosotros */
.main-mosotros, .mision, .vision {
  text-align: center;
  max-width: 95%;
  margin: auto;
  margin-bottom: 40px;
}

.vision p {
  margin-bottom: 15px;
}

/* contactenos  */
.contactenos {
  text-align: center;
}

.frase {
  text-align: center;
}

.form {
  text-align: center;
  margin-bottom: 50px;
  max-width: 95%;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form form {
  background-color: rgba(141, 141, 141, 0.07);
  margin: auto;
  width: 50%;
  height: auto;
  border-radius: 5%;
}

.form form label {
  margin-top: 20px;
  font-size: 20px;
  font-style: bold;
}

.form form select {
  background-color: rgb(243, 242, 242);
  margin: auto;
  width: 60%;
  height: auto;
}

.form form button {
  margin: auto;
  width: 50%;
  height: auto;
  margin-bottom: 30px;
}

.formulario_pedidos, .form form button:hover {
  border: 3px solid #274c77;
}

/* intro sostenibilidad */
.grid {
  margin: 5em 1em 10em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 200px 400px 250px;
  gap: 40px;
  grid-template-areas: "introSostenibilidad introSostenibilidad introSostenibilidad" "compromiso compromiso compromiso" "galeria galeria galeria" "bienestar envase ecosistema";
}

.intro-sostenibilidad {
  grid-area: introSostenibilidad;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.grid img {
  grid-area: introImg;
  width: 40%;
}

.intro-sostenibilidad article {
  grid-area: introArticle;
  width: 50%;
  text-align: center;
  flex-direction: column 100px;
}

.intro-sostenibilidad h1 {
  text-transform: uppercase;
}

/* section compromiso */
.compromiso {
  grid-area: compromiso;
  width: 70%;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.compromiso article p {
  margin-top: 50px;
}

.galeria {
  grid-area: galeria;
  text-align: center;
}

.bienestar {
  grid-area: bienestar;
  text-align: center;
}

.envase {
  grid-area: envase;
  text-align: center;
}

.ecosistema {
  grid-area: ecosistema;
  text-align: center;
}

@media only screen and (min-width: 280px) and (max-width: 770px) {
  p {
    margin-bottom: 15px;
  }
  .menu {
    font-size: 80%;
  }
  .banner {
    display: none;
  }
  .intro, .producto_destacado {
    display: flex;
    flex-direction: column-reverse;
    max-width: 95%;
    margin: auto;
  }
  .intro-img {
    margin-bottom: 15px;
  }
  .producto_destacado img {
    width: 50%;
    height: auto;
  }
  .ubicacion {
    margin: auto;
  }
  .ubicacion {
    margin: auto;
  }
  /* pagina de pedidos */
  .productos {
    display: flex;
    flex-direction: column;
  }
  .bebidas {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .acompañantes {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  /* sostenibilidad */
  .intro-sostenibilidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    text-align: justify;
  }
  .compromiso {
    margin-top: 12vh;
  }
  .galeria {
    margin-top: 50vh;
  }
  .marginTop {
    margin-top: 6vh;
  }
  .marginF {
    margin-top: 200vh;
  }
  .margingrid {
    margin-bottom: 200vh;
  }
  .frase {
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
