.navegador{

    text-align: center;

    &.coffeNav{

        background-color: map-get($map:$colors , $key:'menuNav');
        font-size: $fontSizep ;

        &.coffeNav a{
            color: map-get($map:$colors , $key:'links' );
        }
    }

}

    .logo{
            
        width: 15%;
    }

    .menu{
        background-color: map-get($map:$colors , $key: 'menuNav');
        display: flex;
        justify-content: space-evenly;
        font-size: $fontSizep;
        padding: 18px;
        margin-bottom: 30px;


    }

    .banner{
        width: 100%;
        margin-bottom: 15px;
     }

    footer{
      
    background-color: map-get($map: $colors, $key:'footer');
    height: auto;
    margin: auto;
    
    }
