@media only screen and (min-width:280px) and (max-width:770px){ 
   
    p {
        margin-bottom: 15px;
     }

     .menu{
        font-size: 80%;
     }

     .banner{
        display: none;
     }

     .intro, .producto_destacado{

        display: flex;
        flex-direction: column-reverse;
        max-width: 95%;
        margin: auto;
     }

     .intro-img{
        margin-bottom: 15px;
     }

     .producto_destacado img{
        width: 50%;
        height: auto;
     }
 
    .ubicacion{
       margin: auto;
 
    }
     
    .ubicacion{
        margin: auto;
  
     } 
          
      /* pagina de pedidos */

   .productos{
      display: flex;
      flex-direction: column;      
   }

   .bebidas{
      display: flex;
      flex-direction: column;
      margin: auto;     
      
   }

   .acompañantes{
      display: flex;
      flex-direction: column;
      margin: auto;       

   }

   
   /* sostenibilidad */

   .intro-sostenibilidad{
      display: flex;
      flex-direction: column;      
      align-items: center;
      margin-bottom: 2vh;
      text-align: justify;
   }

   .compromiso{
      margin-top: 16vh;
   }

   .galeria{
      margin-top: 50vh;
   }
   
   .caracteristic{
      display: flex;
      flex-direction: column;
   }



   .marginTop {
      margin-top: 6vh;

   }
  
  .marginF{

   margin-top: 70vh;

  }
  
  .margingrid{
   margin-bottom: 130vh;
  }

  .form{
   max-width: $maxWidth;
   background-color: none;
  }  

   textarea{
      max-width: $maxWidth;
   }
  
  .frase{
   text-align: center;
  }


      
}